.userlogged-menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.userlogged-menu ul.active {
    position: absolute;
    text-align: center;
    padding: 0;
    top: 120%;
    z-index: 999;
}

.userlogged-menu ul.notActive {
    display: none;
}

.userlogged-menu ul li {
    text-align: center;
    padding: 1rem 3rem;
    transition: all 0.6s;
    box-shadow: -1px 4px 31px 14px rgba(122, 203, 236, 0.48);
    -webkit-box-shadow: -1px 4px 31px 14px rgba(122, 203, 236, 0.48);
    -moz-box-shadow: -1px 4px 31px 14px rgba(122, 203, 236, 0.48);

}

.userlogged-menu ul li:hover {
    box-shadow: inset 200px 0 0 0 #54b3d6;
    color: white;

}